In [1]:
# import 
import numpy as np
import pandas as pd
import os

from datetime import datetime

Duplicate key in file '/Users/hwesungryu/.matplotlib/matplotlibrc' line #2.
Duplicate key in file '/Users/hwesungryu/.matplotlib/matplotlibrc' line #3.

In [2]:
action_df = pd.read_csv('./data/제6회 L.POINT Big Data Competition-분석용데이터-01.온라인 행동 정보.csv')

/Users/hwesungryu/anaconda3/envs/tensorflow/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# datetime으로 변경
action_df.sess_dt = action_df.sess_dt.astype(str)
action_df.hit_tm = action_df.hit_tm.astype(str)
action_df['date'] = action_df.sess_dt +' '+action_df.hit_tm
action_df['date'] = action_df['date'].map(lambda x: datetime.strptime(x,'%Y%m%d %H:%M'))
# to Datetime index 
action_df.sess_dt = pd.to_datetime(action_df.sess_dt)
action_df = action_df.sort_values('date',ascending=True)
action_df = action_df.set_index(['date'])

In [4]:
idx = action_df[['clnt_id','biz_unit','trfc_src','dvc_ctg_nm']]
idx.head()

            clnt_id biz_unit trfc_src  dvc_ctg_nm
date
2019-07-01     5535      A03   DIRECT         NaN
2019-07-01    58655      A03   DIRECT         NaN
2019-07-01    33973      A03   DIRECT         NaN
2019-07-01    18169      A02  unknown  mobile_web
2019-07-01    20952      A03     PUSH  mobile_web

# 주된매체 구하기

In [5]:
# drop_duplicates
idx = idx.reset_index()
idx = idx.drop_duplicates(['clnt_id','biz_unit','trfc_src','dvc_ctg_nm'])

not_list = []


for i in list(idx.clnt_id.unique()):
    aa = idx[idx.clnt_id == i]
    if len(aa) != 1:
        not_list.append(i)
    else: 
        pass
    
in_list = []

for i in list(idx.clnt_id.unique()):
    if i not in not_list:
        in_list.append(i)

In [15]:
# 복합적으로 가지고 있는 사람들 

trfc_src_count = []
dvc_ctg_nm_count = []
biz_unit_count =[]

trfc_src_main = []
dvc_ctg_nm_main = []
biz_unit_main =[]


for i in not_list:
    aa = idx[idx.clnt_id == i]
    trfc_src_count.append(len(aa.trfc_src.unique()))
    dvc_ctg_nm_count.append(len(aa.dvc_ctg_nm.unique()))
    biz_unit_count.append(len(aa.biz_unit.unique()))
    
    
    
    trfc_src_main.append(list(aa.trfc_src.unique()))
    dvc_ctg_nm_main.append(list(aa.dvc_ctg_nm.unique()))
    biz_unit_main.append(list(aa.biz_unit.unique()))

In [17]:
complicated_person  = pd.DataFrame()

complicated_person['clnt_id'] = not_list
complicated_person['trfc_src_count'] = trfc_src_count
complicated_person['dvc_ctg_nm_count'] = dvc_ctg_nm_count
complicated_person['biz_unit_count'] = biz_unit_count

complicated_person['trfc_src_main'] = trfc_src_main
complicated_person['dvc_ctg_nm_main'] = dvc_ctg_nm_main
complicated_person['biz_unit_cmain'] = biz_unit_main

In [18]:
complicated_person

,clnt_id,trfc_src_count,dvc_ctg_nm_count,biz_unit_count,trfc_src_main,dvc_ctg_nm_main,biz_unit_cmain
0,20952,2,1,1,"[PUSH, DIRECT]",[mobile_web],[A03]
1,25275,2,1,1,"[DIRECT, PUSH]",[nan],[A03]
2,31780,2,1,1,"[DIRECT, WEBSITE]",[mobile_web],[A03]
3,63553,2,1,1,"[DIRECT, PUSH]",[nan],[A03]
4,32864,2,1,1,"[PUSH, DIRECT]",[nan],[A03]
...,...,...,...,...,...,...,...
6722,18043,2,1,1,"[PORTAL_1, WEBSITE]",[mobile_web],[A03]
6723,34497,2,1,1,"[DIRECT, WEBSITE]",[PC],[A03]
6724,56939,2,1,1,"[PORTAL_1, unknown]",[PC],[A01]
6725,28810,2,1,1,"[DIRECT, PORTAL_1]",[PC],[A03]
6726,47343,2,1,1,"[DIRECT, PUSH]",[nan],[A03]

In [19]:
non_biz_unit_count =[]
non_trfc_src_main = []
non_dvc_ctg_nm_main =[]
non_biz_unit_main =[]

for i in in_list:
    aa = idx[idx.clnt_id == i]

    non_biz_unit_count.append(len(aa.biz_unit.unique()))
    
    non_trfc_src_main.append(list(aa.trfc_src.unique()))
    non_dvc_ctg_nm_main.append(list(aa.dvc_ctg_nm.unique()))
    non_biz_unit_main.append(list(aa.biz_unit.unique()))

In [20]:
no_complicated_person = pd.DataFrame()

no_complicated_person['clnt_id'] = in_list
no_complicated_person['trfc_src_count'] = 1
no_complicated_person['dvc_ctg_nm_count'] = 1
no_complicated_person['biz_unit_count'] = non_biz_unit_count


no_complicated_person['trfc_src_main'] = non_trfc_src_main
no_complicated_person['dvc_ctg_nm_main'] = non_dvc_ctg_nm_main
no_complicated_person['biz_unit_cmain'] = non_biz_unit_main

In [21]:
no_complicated_person.head()

,clnt_id,trfc_src_count,dvc_ctg_nm_count,biz_unit_count,trfc_src_main,dvc_ctg_nm_main,biz_unit_cmain
0,5535,1,1,1,[DIRECT],[nan],[A03]
1,58655,1,1,1,[DIRECT],[nan],[A03]
2,33973,1,1,1,[DIRECT],[nan],[A03]
3,18169,1,1,1,[unknown],[mobile_web],[A02]
4,29126,1,1,1,[unknown],[mobile_web],[A02]

In [22]:
meache_df = pd.concat([no_complicated_person,complicated_person],axis=0)
meache_df

,clnt_id,trfc_src_count,dvc_ctg_nm_count,biz_unit_count,trfc_src_main,dvc_ctg_nm_main,biz_unit_cmain
0,5535,1,1,1,[DIRECT],[nan],[A03]
1,58655,1,1,1,[DIRECT],[nan],[A03]
2,33973,1,1,1,[DIRECT],[nan],[A03]
3,18169,1,1,1,[unknown],[mobile_web],[A02]
4,29126,1,1,1,[unknown],[mobile_web],[A02]
...,...,...,...,...,...,...,...
6722,18043,2,1,1,"[PORTAL_1, WEBSITE]",[mobile_web],[A03]
6723,34497,2,1,1,"[DIRECT, WEBSITE]",[PC],[A03]
6724,56939,2,1,1,"[PORTAL_1, unknown]",[PC],[A01]
6725,28810,2,1,1,"[DIRECT, PORTAL_1]",[PC],[A03]
6726,47343,2,1,1,"[DIRECT, PUSH]",[nan],[A03]

In [31]:
# meache_df.trfc_src_main=meache_df.trfc_src_main.astype(str)

In [35]:
# list(meache_df.trfc_src_main.unique())

["['DIRECT']",
 "['unknown']",
 "['PORTAL_1']",
 "['WEBSITE']",
 "['PORTAL_3']",
 "['PORTAL_2']",
 "['PUSH']",
 "['PUSH', 'DIRECT']",
 "['DIRECT', 'PUSH']",
 "['DIRECT', 'WEBSITE']",
 "['WEBSITE', 'DIRECT']",
 "['WEBSITE', 'PUSH', 'PORTAL_2']",
 "['PORTAL_1', 'WEBSITE']",
 "['PORTAL_3', 'DIRECT', 'PUSH']",
 "['WEBSITE', 'PUSH', 'DIRECT']",
 "['DIRECT', 'PUSH', 'WEBSITE']",
 "['PORTAL_3', 'unknown']",
 "['PORTAL_1', 'unknown']",
 "['DIRECT', 'WEBSITE', 'PUSH']",
 "['DIRECT', 'PORTAL_1']",
 "['unknown', 'WEBSITE']",
 "['unknown', 'PORTAL_3']",
 "['DIRECT', 'WEBSITE', 'PORTAL_1']",
 "['DIRECT', 'PORTAL_3']",
 "['unknown', 'PORTAL_1']",
 "['WEBSITE', 'DIRECT', 'PUSH', 'PORTAL_2']",
 "['WEBSITE', 'DIRECT', 'PUSH']",
 "['WEBSITE', 'DIRECT', 'PORTAL_1', 'PUSH']",
 "['WEBSITE', 'PORTAL_3']",
 "['WEBSITE', 'PORTAL_1', 'DIRECT']",
 "['PORTAL_1', 'DIRECT', 'WEBSITE']",
 "['PORTAL_2', 'DIRECT']",
 "['PUSH', 'WEBSITE']",
 "['PUSH', 'PORTAL_2']",
 "['PORTAL_1', 'DIRECT']",
 "['WEBSITE', 'PUSH']",
 "['DIRECT', 'WEBSITE', 'PORTAL_3', 'PORTAL_1']",
 "['PUSH', 'DIRECT', 'WEBSITE']",
 "['DIRECT', 'PORTAL_1', 'WEBSITE']",
 "['DIRECT', 'PORTAL_2']",
 "['DIRECT', 'PORTAL_2', 'WEBSITE']",
 "['PORTAL_2', 'WEBSITE']",
 "['PUSH', 'WEBSITE', 'DIRECT']",
 "['DIRECT', 'PORTAL_3', 'WEBSITE', 'PORTAL_1']",
 "['unknown', 'DIRECT']",
 "['DIRECT', 'PUSH', 'WEBSITE', 'PORTAL_1']",
 "['WEBSITE', 'PORTAL_1']",
 "['WEBSITE', 'PORTAL_1', 'PORTAL_3']",
 "['DIRECT', 'WEBSITE', 'PORTAL_2']",
 "['PORTAL_1', 'WEBSITE', 'DIRECT', 'PUSH']",
 "['WEBSITE', 'DIRECT', 'PORTAL_3']",
 "['DIRECT', 'PUSH', 'PORTAL_1', 'WEBSITE']",
 "['WEBSITE', 'DIRECT', 'PORTAL_1']",
 "['PORTAL_3', 'DIRECT']",
 "['PORTAL_1', 'DIRECT', 'WEBSITE', 'PORTAL_2', 'PORTAL_3']",
 "['PORTAL_2', 'DIRECT', 'WEBSITE']",
 "['WEBSITE', 'PORTAL_2']",
 "['PUSH', 'DIRECT', 'WEBSITE', 'PORTAL_1']",
 "['PUSH', 'DIRECT', 'PORTAL_2', 'WEBSITE']",
 "['DIRECT', 'PORTAL_1', 'PORTAL_2']",
 "['WEBSITE', 'PORTAL_2', 'DIRECT']",
 "['WEBSITE', 'PUSH', 'PORTAL_1']",
 "['PORTAL_2', 'PUSH', 'WEBSITE']",
 "['PORTAL_1', 'WEBSITE', 'DIRECT']",
 "['unknown', 'PORTAL_2']",
 "['DIRECT', 'WEBSITE', 'PORTAL_3']",
 "['PORTAL_3', 'PUSH', 'WEBSITE']",
 "['PORTAL_3', 'DIRECT', 'WEBSITE']",
 "['PORTAL_2', 'DIRECT', 'WEBSITE', 'PORTAL_1']",
 "['WEBSITE', 'DIRECT', 'PORTAL_2', 'PORTAL_1']",
 "['PORTAL_3', 'WEBSITE', 'DIRECT']",
 "['PORTAL_2', 'WEBSITE', 'DIRECT']",
 "['PORTAL_1', 'unknown', 'PORTAL_3']",
 "['unknown', 'PORTAL_1', 'WEBSITE']",
 "['PORTAL_1', 'PUSH']",
 "['PORTAL_3', 'WEBSITE']",
 "['WEBSITE', 'DIRECT', 'PORTAL_2']",
 "['PORTAL_1', 'PORTAL_2']",
 "['WEBSITE', 'DIRECT', 'PORTAL_3', 'PORTAL_1']",
 "['DIRECT', 'PUSH', 'PORTAL_1']",
 "['PORTAL_2', 'PORTAL_1', 'DIRECT', 'WEBSITE']",
 "['PORTAL_2', 'WEBSITE', 'PUSH', 'DIRECT']",
 "['WEBSITE', 'PUSH', 'PORTAL_1', 'DIRECT']",
 "['PORTAL_1', 'WEBSITE', 'PUSH']",
 "['DIRECT', 'PUSH', 'PORTAL_3']",
 "['PORTAL_3', 'DIRECT', 'PORTAL_1', 'WEBSITE']",
 "['DIRECT', 'PORTAL_2', 'WEBSITE', 'PUSH']",
 "['PORTAL_1', 'PORTAL_3']",
 "['PUSH', 'WEBSITE', 'PORTAL_1']",
 "['PORTAL_3', 'PORTAL_2']",
 "['PORTAL_1', 'WEBSITE', 'PUSH', 'DIRECT']",
 "['PUSH', 'DIRECT', 'PORTAL_1']",
 "['PUSH', 'PORTAL_1']",
 "['PUSH', 'PORTAL_2', 'WEBSITE', 'DIRECT']",
 "['PORTAL_3', 'unknown', 'PORTAL_1']",
 "['WEBSITE', 'PUSH', 'DIRECT', 'PORTAL_1']",
 "['PORTAL_3', 'DIRECT', 'PORTAL_1']",
 "['PORTAL_1', 'PUSH', 'DIRECT']",
 "['WEBSITE', 'PUSH', 'DIRECT', 'PORTAL_2']",
 "['DIRECT', 'PUSH', 'PORTAL_2', 'WEBSITE', 'PORTAL_3']",
 "['PORTAL_1', 'PORTAL_2', 'DIRECT']",
 "['PUSH', 'DIRECT', 'WEBSITE', 'PORTAL_2']",
 "['PORTAL_1', 'DIRECT', 'PORTAL_2']",
 "['PUSH', 'WEBSITE', 'PORTAL_1', 'DIRECT']",
 "['PUSH', 'PORTAL_1', 'WEBSITE']",
 "['PUSH', 'DIRECT', 'PORTAL_1', 'WEBSITE']",
 "['PORTAL_1', 'WEBSITE', 'DIRECT', 'PORTAL_2']",
 "['PUSH', 'WEBSITE', 'PORTAL_2']",
 "['PORTAL_1', 'PORTAL_3', 'WEBSITE', 'DIRECT']",
 "['PORTAL_2', 'PUSH']",
 "['PORTAL_1', 'PUSH', 'WEBSITE', 'DIRECT']",
 "['DIRECT', 'unknown']",
 "['PORTAL_3', 'PORTAL_1']",
 "['DIRECT', 'PORTAL_1', 'PUSH']",
 "['PORTAL_2', 'PORTAL_1']",
 "['DIRECT', 'WEBSITE', 'PORTAL_1', 'PORTAL_2']",
 "['PUSH', 'PORTAL_1', 'DIRECT']",
 "['PUSH', 'PORTAL_1', 'DIRECT', 'WEBSITE']",
 "['WEBSITE', 'unknown']",
 "['PUSH', 'DIRECT', 'PORTAL_3', 'PORTAL_2']",
 "['WEBSITE', 'PORTAL_3', 'DIRECT']",
 "['unknown', 'PORTAL_1', 'PORTAL_3']",
 "['PUSH', 'PORTAL_3']",
 "['PUSH', 'WEBSITE', 'PORTAL_3']",
 "['PUSH', 'WEBSITE', 'DIRECT', 'PORTAL_1']",
 "['PUSH', 'PORTAL_1', 'WEBSITE', 'DIRECT']",
 "['DIRECT', 'WEBSITE', 'PORTAL_1', 'PUSH']",
 "['WEBSITE', 'PORTAL_1', 'PORTAL_2']",
 "['WEBSITE', 'PORTAL_1', 'PUSH']",
 "['PORTAL_2', 'DIRECT', 'PORTAL_1']",
 "['PORTAL_1', 'WEBSITE', 'PORTAL_2']",
 "['PUSH', 'PORTAL_2', 'DIRECT', 'PORTAL_3', 'WEBSITE']",
 "['PORTAL_1', 'PORTAL_2', 'WEBSITE']",
 "['PORTAL_1', 'PORTAL_3', 'DIRECT']",
 "['PORTAL_3', 'WEBSITE', 'unknown']",
 "['DIRECT', 'unknown', 'PORTAL_1']",
 "['PORTAL_1', 'WEBSITE', 'unknown']",
 "['DIRECT', 'PORTAL_3', 'WEBSITE']",
 "['PORTAL_2', 'DIRECT', 'PUSH']",
 "['PORTAL_3', 'PORTAL_2', 'WEBSITE']",
 "['PORTAL_1', 'PUSH', 'WEBSITE']",
 "['PORTAL_1', 'unknown', 'WEBSITE']",
 "['unknown', 'PORTAL_3', 'PORTAL_1']",
 "['PUSH', 'PORTAL_3', 'DIRECT']",
 "['PORTAL_1', 'PUSH', 'DIRECT', 'WEBSITE']",
 "['DIRECT', 'PORTAL_1', 'WEBSITE', 'PUSH']",
 "['PORTAL_2', 'WEBSITE', 'DIRECT', 'PORTAL_1']"]