In [1]:
import datetime, warnings, scipy 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.patches as patches
from matplotlib.patches import ConnectionPatch
from collections import OrderedDict
from matplotlib.gridspec import GridSpec
from sklearn import metrics, linear_model
from sklearn.preprocessing import PolynomialFeatures, StandardScaler
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split, cross_val_score, cross_val_predict
from scipy.optimize import curve_fit
from datetime import datetime
plt.rcParams["patch.force_edgecolor"] = True
plt.style.use('fivethirtyeight')
mpl.rc('patch', edgecolor = 'dimgray', linewidth=1)
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "last_expr"
pd.options.display.max_columns = 50
%matplotlib inline
warnings.filterwarnings("ignore")

Duplicate key in file '/Users/hwesungryu/.matplotlib/matplotlibrc' line #2.
Duplicate key in file '/Users/hwesungryu/.matplotlib/matplotlibrc' line #3.

In [2]:
online_action = pd.read_csv('./data/제6회 L.POINT Big Data Competition-분석용데이터-01.온라인 행동 정보.csv', engine='python', encoding='utf-8-sig')
transaction = pd.read_csv('./data/제6회 L.POINT Big Data Competition-분석용데이터-02.거래 정보.csv', engine='python', encoding='utf-8-sig')
customer = pd.read_csv('./data/제6회 L.POINT Big Data Competition-분석용데이터-03.고객 Demographic 정보.csv', engine='python', encoding='utf-8-sig')
production = pd.read_csv('./m_data/제6회 L.POINT Big Data Competition-분석용데이터-04.상품분류 정보.csv', engine='python', encoding='utf-8-sig')

## 상품 소분류에 따라 대분류 묶기

In [3]:
production

,pd_c,clac_nm0,clac_nm1,clac_nm2,clac_nm3
0,1,"Sports, Leisure",Automotive Products,Automotive Replacement Repair / Maintanance Kits,Automobile Oil / Additives
1,2,"Sports, Leisure",Automotive Products,Automotive Replacement Repair / Maintanance Kits,Car Lights
2,3,"Sports, Leisure",Automotive Products,Automotive Replacement Repair / Maintanance Kits,Car Paint
3,4,"Sports, Leisure",Automotive Products,Automotive Replacement Repair / Maintanance Kits,Filters
4,5,"Sports, Leisure",Automotive Products,Automotive Replacement Repair / Maintanance Kits,Wiper Blades
...,...,...,...,...,...
1662,1663,Fashion_Clothes,Women's Clothing,Women's Upper Bodywear / Tops,Women's Cardigans
1663,1664,Fashion_Clothes,Women's Clothing,Women's Upper Bodywear / Tops,Women's Sweaters / Pullover
1664,1665,Fashion_Clothes,Women's Clothing,Women's Upper Bodywear / Tops,Women's Sweatshirts / Hoodies
1665,1666,Fashion_Clothes,Women's Clothing,Women's Upper Bodywear / Tops,Women's T-shirts / Tops
1666,1667,Fashion_Clothes,Women's Clothing,Women's Upper Bodywear / Tops,Women's Vests

In [4]:
clac_nm0=production[['pd_c','clac_nm0']]

In [5]:
transaction.pd_c.replace('unknown', 9999, inplace=True)

In [6]:
transaction.pd_c=transaction.pd_c.apply(lambda x: int(x))

In [7]:
clac_nm=transaction.merge(clac_nm0, on='pd_c')

In [8]:
# clac_nm.to_csv('clac_nm.csv')

In [9]:
clac_nm.clac_nm0=clac_nm.clac_nm0.apply(lambda x: str(x))

In [10]:
clac_nm.clnt_id=clac_nm.clnt_id.apply(lambda x: str(x))

## 구매했던 품목 종류 갯수 비율

In [11]:
# 상품군별 포함되는 소분류 갯수 Dictionary 만들기
clac_nm0_dict=dict(production.clac_nm0.value_counts())

In [12]:
# 클라이언트 Id별 구매한 상품의 대분류 갯수 Table
clac_nm0_count=clac_nm.pivot_table(index='clnt_id', columns='clac_nm0', aggfunc='count', values=['pd_c'], fill_value=0)

In [13]:
clac_nm0_count.columns.names = ['id_x1', 'clac_nm0']

In [14]:
clac_nm0_count=clac_nm0_count.stack(level=0).reset_index('id_x1').drop('id_x1', axis=1)

In [15]:
clac_nm0_count=clac_nm0_count.astype(float)

In [16]:
# 대분류별로 포함되는 상품 갯수가 다르므로 비율로 변경

for i in range(0,len(clac_nm0_count)):
    for j in range(0,len(clac_nm0_count.columns)):
        clac_nm0_count.iloc[i][j]=clac_nm0_count.iloc[i][j]/clac_nm0_dict[clac_nm0_count.columns[j]]

In [17]:
clac_nm0_count

clac_nm0,Baby,Beauty,"Digiter, Appliences",Fashion_Accessories,Fashion_Clothes,Foods,Interier,"Living, Health",Others,"Sports, Leisure","Travel, Culture"
clnt_id,,,,,,,,,,,
10002,0.269231,0.046512,0.0,0.042553,0.000000,0.055901,0.000000,0.007092,0.000000,0.00,0.12
10009,0.000000,0.000000,0.0,0.007092,0.005682,0.041925,0.000000,0.003546,0.000000,0.00,0.00
10030,0.000000,0.034884,0.0,0.014184,0.005682,0.041925,0.000000,0.010638,0.000000,0.00,0.00
10040,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,0.00,0.00
10046,0.000000,0.011628,0.0,0.000000,0.000000,0.032609,0.000000,0.007092,0.000000,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...
9956,0.000000,0.000000,0.0,0.007092,0.022727,0.003106,0.000000,0.024823,0.333333,0.00,0.00
9975,0.000000,0.000000,0.0,0.007092,0.005682,0.000000,0.000000,0.000000,0.000000,0.01,0.00
9980,0.000000,0.000000,0.0,0.000000,0.000000,0.027950,0.000000,0.003546,0.000000,0.00,0.08
9985,0.000000,0.011628,0.0,0.000000,0.000000,0.228261,0.038462,0.017730,0.000000,0.00,0.00
9997,0.038462,0.000000,0.0,0.000000,0.000000,0.009317,0.009615,0.021277,0.000000,0.00,0.00

## 총페이지 조회건수, 세션에 머무는 시간

In [18]:
a=online_action.pivot_table(index='clnt_id', values=['tot_pag_view_ct', 'tot_sess_hr_v'], aggfunc='max')

In [19]:
b=online_action.pivot_table(index='clnt_id', values=['tot_pag_view_ct', 'tot_sess_hr_v'], aggfunc='min')

In [20]:
c=online_action.pivot_table(index='clnt_id', values=['tot_pag_view_ct', 'tot_sess_hr_v'], aggfunc='mean')

In [21]:
d=a-b

In [22]:
d.fillna(1, inplace=True)

In [23]:
d.replace(to_replace=0, value=1, inplace=True)

In [24]:
e=c/d

In [25]:
e

         tot_pag_view_ct  tot_sess_hr_v
clnt_id
1               1.151613       1.113333
2               0.532443       0.459059
3              89.000000    1388.000000
4             115.000000     950.000000
5              37.000000     879.000000
...                  ...            ...
72425           0.937804       0.913471
72426           6.000000     334.000000
72427           0.860140       0.952775
72428           0.614011       0.564685
72429           9.000000     984.000000

[72394 rows x 2 columns]

## Back_nums

In [26]:
Back=online_action[['clnt_id', 'sess_id', 'hit_seq', 'action_type']]

In [27]:
Back=Back.sort_values(by=['clnt_id','sess_id', 'hit_seq'])

In [28]:
Back1=Back.set_index(['clnt_id', 'sess_id', 'hit_seq'])

In [ ]:
Back_num_list_sess = []
Back_num_list = []
Back_num=0

for i in list(Back.clnt_id.unique()):
    for j in range(1, max(Back1.loc[i].reset_index('sess_id').sess_id)+1):
        for k in range(1, max(Back1.loc[i].loc[j].reset_index('hit_seq').hit_seq)):
            if Back1.loc[i].loc[j].loc[k].iloc[0] - Back1.loc[i].loc[j].loc[k+1].iloc[0] > 0:
                Back_num += 1
            else:
                continue
        Back_num_list_sess.append(Back_num)
        Back_num=0
    
    Back_num_list.append(sum(Back_num_list_sess)/len(Back_num_list_sess))
    Back_num_list_sess = []

    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1105

In [ ]:
a['Back_nums'] = 0

In [ ]:
a['Back_nums'] = Back_num_list

In [ ]:
a.to_csv('배성.csv')